@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: Avenir, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana,
    Roboto, '游ゴシック', 'Yu Gothic', '游ゴシック体', YuGothic,
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ',
    Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 16px;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

a,
a:hover {
  transition: 0.3s ease-in-out;
}

img {
  max-width: 100%;
  display: block;
}
